{% include "outerbase.html" %}
{% load static %}
   <title>
         {% block title %} Forgot-Password | SGSPL- Base Project {% endblock %}
   </title>
{% block content %}
   <body>
      <!--================================-->
      <!-- Password Reset Start -->
      <!--================================-->			
      <div class="ht-100v d-flex">
         <div class="pd-20 mx-auto text-center bd-1 align-self-center">
            <div class="login-wrapper">
               <div class="loginbox">
                  <div class="login-left hidden-xs">
                     <img class="img-fluid" src="{% static 'images/logo-sm.png' %}" alt="Logo">
                  </div>
                  <div class="login-right">
                     <div class="login-right-wrap wd-300">
                        <div class="lock-user">
                           <img id="profile_icon" class="img-fluid wd-50 rounded-circle" src="{% static 'images/users-face/10.png' %}" alt="User Image">
                           <h4 id="profile_name" class="mg-b-30 tx-semibold">Ruhul Hasan</h4>
                           <p class="tx-gray-500">Please change your password!</p>
                        </div>
                        <!-- Form -->
                        <form>
                           <div class="form-group">
                              <input class="form-control" id="id_new_password1" type="password" placeholder="New Password" required>
                              <ul id="id_new_password1_errors" class="custom-errors-list"></ul>
                           </div>
                           <div class="form-group">
                              <input class="form-control" id="id_new_password2" type="password" placeholder="Confirm Password" required>
                              <ul id="id_new_password2_errors" class="custom-errors-list"></ul>
                           </div>
                           <div class="form-group mb-0">
                              <button class="btn btn-brand btn-block" id="forgot_password" type="submit">Change Password</button>
                           </div>
                        </form>
                        <!-- /Form -->
                        <div class="tx-gray-500 mg-t-10">Sign in as a different user? <a href="/login" class="tx-semibold">Login</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--/ Password Reset End -->
   </body>
   {% endblock %}
{% include "footer.html" %}
<script src="{% static 'js/account/forgot-password-profile.js' %}"></script>
</html>