/**********************************************************************
***********************************************************************
### App CSS 
*********************************************************************
*********************************************************************/

.chat-inner {
	height: calc(100% - 60px);
}

.chat-sidebar {
	width: 300px;
	float: left;
	border-right: $bd-color-default;
}

.chat-sidebar .chat-sidebar-header {
	border-bottom: $bd-color-default;
	padding: 15px 10px 15px 20px;
	position: relative;
}

.chat-sidebar .dropdown-menu {
	width: 100%;
	border: none;
	border-bottom: $bd-color-default;
}

.chat-sidebar .dropdown-menu.show::before {
	content: "";
	position: absolute;
	top: -21px;
	right: 19px;
	border: 10px solid #d9deea;
	border-color: transparent transparent #d9deea transparent;
}

.chat-sidebar .dropdown-menu.show::after {
	content: "";
	position: absolute;
	top: -19px;
	right: 19px;
	border: 10px solid $color-white;
	border-color: transparent transparent $color-white transparent;
}

.chat-sidebar .chat-left-sidebar .media .action-icon {
	opacity: 0;
}

.chat-sidebar .chat-left-sidebar .media:hover .action-icon {
	opacity: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.chat-sidebar .sidebar-body {
	width: 300px;
	position: absolute;
	top: 60px;
	bottom: 0px;
	left: 0;
	display: flex;
	flex-direction: column;
	border-right: $bd-color-default;
}

.chat-body .chat-hearer {
	padding: 10px 20px;
	border-bottom: $bd-color-default;
}

.chat-content-body {
	position: absolute;
	top: 60px;
	bottom: 60px;
	left: 300px;
	right: 0;
}

.chat-body {
	width: 100%;
}

.chat-body .chat-content-bottom {
	background-color: $color-white;
	position: absolute;
	bottom: 0;
	left: 300px;
	right: 0;
	display: flex;
	justify-content: space-between;
}

.chat-body .chat-content-bottom {
	padding: 0;
	border-top: $bd-color-default
}

.chat-footer-message {
	width: 100%;
}

.chat-footer-message .form-control {
	width: 100%;
	font-size: inherit;
	border: 0;
	box-shadow: none !important;
	background-color: transparent;
}

.chat-body .chat-content-bottom .form-control {
	padding: 15px;
	height: 55px;
	resize: none;
}

.chat-body .chat-content-bottom .chat-footer-icon .chat-attachment {
	padding: 15px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #8392a5;
	border-right: $bd-color-default;
}

.chat-body .chat-content-bottom .chat-footer-message nav a {
	color: #8392a5;
	padding: 17px 20px;
	display: block;
	border-left: $bd-color-default;
}

.calling-modal .modal.show .modal-dialog {
	-webkit-transform: none;
	transform: none;
	min-width: 100%;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.calling-modal .row .col-lg-12 {
	padding-right: 0px;
	padding-left: 0px;
}

.call {
	background-image: linear-gradient(180deg, #3949ab, #2962ff);
	position: sticky;
	top: 0;
	z-index: 99;
	overflow-y: auto;
}

.call .content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	height: 99.75vh;
	text-align: center;
}

.call .content .participant {
	margin-bottom: 50px;
}

.call .pulse {
	border-radius: 50%;
	box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
	animation: pulse 2s infinite;
}

.call .content .participant span {
	margin: 50px 15px;
	display: block;
	color: $color-white;
	text-align: center;
}

.call .content .options .option {
	padding: 0 15px;
	color: $color-white;
	line-height: 0;
	background: transparent;
}

.call .participant .wave {
	display: inline-flex;
}

.text.typing .wave .dot {
	display: inline-block;
	width: 6px;
	height: 6px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	margin-right: 1px;
	background: #cfc9d8;
	-webkit-animation: wave 1.3s linear infinite;
	-moz-animation: wave 1.3s linear infinite;
	-ms-animation: wave 1.3s linear infinite;
	-o-animation: wave 1.3s linear infinite;
	animation: wave 1.3s linear infinite;
}

.wave .dot {
	display: inline-block;
	width: 6px;
	height: 6px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	margin-right: 1px;
	background: $color-white;
	-webkit-animation: wave 1.3s linear infinite;
	-moz-animation: wave 1.3s linear infinite;
	-ms-animation: wave 1.3s linear infinite;
	-o-animation: wave 1.3s linear infinite;
	animation: wave 1.3s linear infinite;
}

.text.typing .wave .dot:last-of-type {
	margin-right: 0;
}

.text.typing .wave .dot:nth-child(2) {
	-webkit-animation-delay: -1.1s;
	-moz-animation-delay: -1.1s;
	-ms-animation-delay: -1.1s;
	-o-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.text.typing .wave .dot:nth-child(3) {
	-webkit-animation-delay: -.9s;
	-moz-animation-delay: -.9s;
	-ms-animation-delay: -.9s;
	-o-animation-delay: -.9s;
	animation-delay: -.9s;
}

@keyframes wave {
	0%,
	100%,
	60% {
		transform: initial
	}
	30% {
		transform: translateY(-5px)
	}
}

.call .pulse {
	border-radius: 50%;
	box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
	animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
	}
	50% {
		-webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
	}
	50% {
		-moz-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
		box-shadow: 0 0 0 20px rgba(255, 169, 255, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

@media (max-width: 767px) and (min-width: 320px) {
	.chat-body .chat-content-bottom {
		left: 0px;
	}
}

@media (max-width: 767px) {
	.chat-content-body {
		left: 0px;
	}
	.header-right {
		margin-top: 9px;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.chat-sidebar,
	.chat-sidebar .sidebar-body {
		width: 240px;
	}
	.chat-content-body,
	.chat-body .chat-content-bottom {
		left: 240px;
	}
	.header-right {
		margin-top: 8px;
	}
}

@media (max-width: 1023px) and (min-width: 992px) {
	.chat-sidebar,
	.chat-sidebar .sidebar-body {
		width: 300px;
	}
	.chat-content-body,
	.chat-body .chat-content-bottom {
		left: 300px;
	}
}

.filemanager-header {
	height: 55px;
	border-bottom: $bd-color-default;
	display: flex;
	align-items: center;
	padding: 0 20px 0px 30px;
}

.filemanager-content-body .dropdown-file {
	margin-left: auto;
}