/**********************************************************************
***********************************************************************
### Authentication CSS
*********************************************************************
*********************************************************************/

.bg-gradient {
	background: linear-gradient(180deg, #3949ab, #2962ff);
}

.btn-light {
	color: #111!important;
	background-color: #f3f6f9!important;
	border-color: #e1e6ea
}

.btn-light:active,
.btn-light.active {
	background-color: #e2e6ea;
	background-image: none;
	border-color: #dae0e5;
}

.btn-outline-brand {
	color: $color-default;
	border-color: $color-default;
	padding: 10px 20px!important;
}

.btn-outline-brand:hover {
	color: $color-white;
	background-color: $color-default;
	border-color: $color-default;
}

.btn-brand {
	font-size: 13px;
	color: $color-white;
	background-color: $color-default;
	border-color: $color-default;
	padding: 10px 20px!important;
}

.btn-brand:hover {
	color: $color-default;
	border-color: $color-default;
	background-color: $color-white;
}

.login-wrapper .loginbox {
	background-color: $color-white;
	border-radius: 6px;
	display: flex;
	margin: auto;
	min-height: 500px;
	width: 100%;
	border: 1px solid #cfcdda;
}

.login-wrapper .loginbox .login-left {
	align-items: center;
	background: linear-gradient(180deg, #3949ab, #2962ff);
	border-radius: 6px 0 0 6px;
	flex-direction: column;
	justify-content: center;
	padding: 80px;
	width: 400px;
	display: flex;
}

.login-wrapper .loginbox .login-right {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 40px;
	width: 400px;
}


/*uikit css*/

.uk-button {
	font-size: 13px;
}

.uk-subnav {
	margin-bottom: 20px;
}

.uk-accordion-title {
	font-size: inherit;
}


/*company css*/

.features-hover:hover {
	background: linear-gradient(180deg, #3949ab, #2962ff);
	color: $color-white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


/*socia css*/

.nav-tabs.social-card-tab .nav-item.show .nav-link,
.nav-tabs.social-card-tab .nav-link.active {
	border-color: transparent transparent #00aced!important;
}

.nav-tabs.social-card-tab .nav-link,
.nav-tabs.social-card-tab-bg .nav-link {
	border: 2px solid transparent;
}

.nav-tabs.social-card-tab-bg .nav-link {
	border: 2px solid transparent;
	color: $color-white;
}

.nav-tabs.social-card-tab-bg .nav-item.show .nav-link,
.nav-tabs.social-card-tab-bg .nav-link.active {
	border-color: transparent transparent #00aced!important;
	background: transparent;
	color: #00aced;
}