/**********************************************************************
***********************************************************************
### Grid CSS
*********************************************************************
*********************************************************************/

.bd-example-row .row>.col,
.bd-example-row .row>[class^=col-] {
	padding-top: .75rem;
	padding-bottom: .75rem;
	background-color: rgba(90, 96, 148, 0.15);
	border: 1px solid rgba(86, 61, 124, .2);
}

.bd-example-row .row+.row {
	margin-top: 1rem;
}

.bd-example-row-flex-cols .row {
	min-height: 10rem;
	background-color: rgba(9, 0, 255, 0.05);
}

.bd-highlight {
	background-color: rgba(90, 96, 148, 0.15);
	border: 1px solid rgba(86, 61, 124, .2);
}