/**********************************************************************
***********************************************************************
### Mailbox CSS
*********************************************************************
*********************************************************************/

.email-right-sidebar tr.active {
	background: #f5f6fa;
	font-weight: $font-weight-medium;
}

.email-right-sidebar table tr td {
	border-color: #e3e7ef;
}